# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# documentation
/docs

# production
/build
/dist
/dist_ci
/archives

# misc
.env
.env.local
.env.*.local
.eslintcache
.DS_Store
*.lock.icloud
*.xml.icloud
*.log
stats.html
coverage
