.ripple-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden !important;
  height: 100%;
  width: 100%;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation-name: ripple-circle;
  animation-timing-function: linear;
  pointer-events: none;
}

/* Animation cercle (par défaut) */
@keyframes ripple-circle {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* Animation carrée */
.ripple-square {
  border-radius: 0;
  animation-name: ripple-square;
}

@keyframes ripple-square {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* Animation de fondu */
.ripple-fade {
  animation-name: ripple-fade;
}

@keyframes ripple-fade {
  to {
    transform: scale(3);
    opacity: 0;
  }
}

/* Animation d'expansion */
.ripple-expand {
  animation-name: ripple-expand;
}

@keyframes ripple-expand {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(2);
    opacity: 0.7;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}